body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  width: 50%;
}

.container video {
  width: 100%;
  height: auto;
  display: block;
}
